<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Header',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="header slp-mt-64">
    <SlpColumn class="slp-flex slp-flex-column slp-align-items-left">
      <div class="header__title">
        <SlpTypography tag="h1" variant="heading1-bold" class="slp-mb-16">{{
          data.title
        }}</SlpTypography>
      </div>
      <SlpTypography tag="h2" variant="heading5">
        {{ data.subtitle }}
        <a
          :href="data.subtitle_url"
          data-ga-location="hero"
          data-ga-name="install enterprise"
          >{{ data.subtitle_text }}</a
        >
        {{ data.subtitle_cont }}
      </SlpTypography>
    </SlpColumn>
  </section>
</template>

<style lang="scss" scoped>
.header {
  text-align: left;

  &__title {
    max-width: 820px;
  }
  @media (max-width: $breakpoint-md) {
    margin-top: 0;
    margin-top: $spacing-48;

    h3 {
      margin-bottom: $spacing-32;
    }
  }
}
</style>
