<script lang="ts">
import { MetaInfo } from 'vue-meta/types/vue-meta';
import Vue from 'vue';
import { CTA as CallToAction, Faq } from '~/components/common/index.vue';
import { FreeTrialPlans } from '~/components/free-trial/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  name: 'FreeTrial',
  components: {
    FreeTrialPlans,
    Faq,
    CallToAction,
  },
  async asyncData({ $content, error, i18n }: any) {
    try {
      const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;
      const doc = await $content(locale, `free-trial/index`).fetch();
      return { doc };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    const metaInfo = getPageMetadata(
      (this as any).doc,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
    const isInternationalization =
      this.$i18n.locale !== this.$i18n.defaultLocale;

    if (isInternationalization) {
      metaInfo.meta.push({
        hid: 'robots',
        name: 'robots',
        content: 'noindex,nofollow',
      });
    }

    return metaInfo;
  },
});
</script>

<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="component in doc.components"
      :key="component.name"
      :data="component.data"
    >
    </component>
  </SlpContainer>
</template>
