<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';
import { SolutionsVideoModal, SlpPlayIcon } from '../index.vue';

interface Solution {
  name: string;
  description: string;
  href: string;
  icon: string;
  video?: {
    title?: string;
    image: string;
    url: string;
  };
}

export default Vue.extend({
  components: {
    SolutionsVideoModal,
    SlpPlayIcon,
  },
  props: {
    solutions: {
      type: Array as PropType<Solution[]>,
      required: true,
    },
    // eslint-disable-next-line vue/prop-name-casing
    featured_solution: {
      type: Object as PropType<Solution>,
      required: true,
    },
  },

  data() {
    return {
      modal: {
        open: false,
      },
    };
  },
  methods: {
    openModal() {
      this.modal.open = true;
      // Make sure Vimeo analytics work:
      // https://vimeo.zendesk.com/hc/en-us/articles/115002859607-Integrate-the-Vimeo-player-with-Google-Tag-Manager
      setTimeout(() => {
        // eslint-disable-next-line no-underscore-dangle
        window.__vimeoRefresh();
      }, 3000);
    },
    closeModal() {
      this.modal.open = false;
    },
  },
});
</script>

<template>
  <div class="solution-grid">
    <div class="featured-solution">
      <a
        :href="featured_solution.href"
        class="solution-card"
        :data-ga-name="featured_solution.name"
        data-ga-location="by solution"
      >
        <SlpIcon :name="featured_solution.icon" size="md" variant="marketing" />
        <SlpTypography variant="heading5-bold">{{
          featured_solution.name
        }}</SlpTypography>
        <SlpTypography variant="body3">{{
          featured_solution.description
        }}</SlpTypography>
        <SlpIcon name="arrow-right" variant="product" size="sm" />
      </a>
      <div
        class="image__container"
        :style="{ background: `url(${featured_solution.video?.image})` }"
        @click="openModal"
      >
        <!-- <img
          :src="featured_solution.video?.image"
          :alt="featured_solution.video?.title"
        /> -->
        <div class="image__container--play">
          <SlpPlayIcon />
        </div>
      </div>
    </div>
    <a
      v-for="solution in solutions"
      :key="solution.name"
      class="solution-card"
      :href="solution.href"
      :data-ga-name="solution.name"
      data-ga-location="by solution"
    >
      <SlpIcon :name="solution.icon" size="md" variant="marketing" />
      <SlpTypography variant="heading5-bold">{{ solution.name }}</SlpTypography>
      <SlpTypography variant="body3">{{ solution.description }}</SlpTypography>
      <SlpIcon name="arrow-right" variant="product" size="sm" />
    </a>
    <a
      class="cta-card"
      href="/calculator/roi/"
      data-ga-name="roi calculator"
      data-ga-location="by solution"
    >
      <SlpIcon name="time-is-money" size="md" variant="marketing" />
      <SlpTypography variant="heading4-bold"
        >How much is your toolchain costing you?</SlpTypography
      >
      <SlpButton variant="tertiary" class="cta-button">
        Try our ROI calculator
        <SlpIcon name="chevron-right" variant="product" size="md" />
      </SlpButton>
    </a>

    <SolutionsVideoModal
      v-show="modal.open"
      light-background
      :visible="modal.open"
      @close="closeModal"
    >
      <template #body>
        <iframe
          width="560"
          height="315"
          :src="featured_solution.video?.url"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </template>
    </SolutionsVideoModal>
  </div>
</template>

<style lang="scss" scoped>
.solution-grid {
  display: grid;
  margin-top: 24px;
  grid-template-columns: 1fr;
  gap: 16px;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
  .featured-solution {
    cursor: pointer;
    border: 1px solid $color-surface-800;
    display: flex;
    flex-direction: column-reverse;
    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
    }
    &:hover {
      .solution-card {
        border-radius: 4px 0 0 4px;
        background: linear-gradient(
          93.83deg,
          rgba(199, 177, 254, 0.4) 7.27%,
          rgba(255, 212, 216, 0.4) 105.33%
        );
      }
    }
    .solution-card {
      border-radius: 4px 0 0 4px;
      flex-basis: 50%;
    }
    .image__container {
      flex-basis: 50%;
      position: relative;
      @media (max-width: $breakpoint-lg) {
        min-height: 300px;
      }
      @media (min-width: $breakpoint-lg) {
        max-width: 50%;
      }

      &:hover {
        .image__container--play {
          opacity: 1;
        }
      }

      &--play {
        position: absolute;
        top: 40%;
        right: 45%;
        opacity: 0.75;
        transition: all 0.3s;
      }
      img {
        min-height: 100%;
        object-fit: cover;
        @media (max-width: $breakpoint-md) {
          width: 100%;
          min-height: initial;
        }
      }
    }
  }

  .featured-solution,
  .cta-card {
    grid-column: 1;
    justify-content: space-between;
    @media (min-width: $breakpoint-lg) {
      grid-column: span 2;
    }
  }

  .cta-card,
  .solution-card {
    cursor: pointer;
    display: flex;
    color: $color-text-300;

    flex-direction: column;
    gap: 16px;
    padding: 24px;
  }
  .cta-card {
    border: 1px solid #eee7fd;
    border-radius: 4px;
    .cta-button {
      @media (max-width: $breakpoint-lg) {
        text-align: left;
        white-space: nowrap;
      }
    }
  }
  .solution-card {
    justify-content: space-between;
    background-color: $color-surface-800;
    min-height: 250px;
    border-radius: 4px;
    transition: all 0.3s;

    &:hover {
      border-radius: 4px 4px 90px 4px;
      background: linear-gradient(
        93.83deg,
        rgba(199, 177, 254, 0.4) 7.27%,
        rgba(255, 212, 216, 0.4) 105.33%
      );
    }
  }
}
</style>
