<script lang="ts">
import { MetaInfo } from 'vue-meta/types/vue-meta';
import Vue from 'vue';
import {
  CityHero,
  ConductBanner,
  Agenda,
  Form,
} from '~/components/events/world-tour/index.vue';
import { NextStep } from '~/components/common/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CityHero,
    ConductBanner,
    NextStep,
    Agenda,
    Form,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const city = await $content(
        `events/devsecops-world-tour/${params.city}`,
      ).fetch();
      return { city };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return {
      ...getPageMetadata((this as any).city, this.$route.path),
    };
  },
});
</script>

<template>
  <div>
    <CityHero v-bind="city.hero" />
    <Agenda :agenda="city.agenda" :city="city.hero.header" />
    <Form v-if="city.form" v-bind="city.form" />
    <ConductBanner v-bind="city.conduct_banner" />
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
