<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '../common/meta';
import {
  SolutionsHero,
  SolutionsVideoModal,
} from '../components/solutions/index.vue';
import SupportCopyMarkdownServices from '../components/support/copy-markdown-services.vue';
import ServicesForm from '../components/services/form.vue';

export default Vue.extend({
  components: {
    ServicesForm,
    SupportCopyMarkdownServices,
    SolutionsHero,
    SolutionsVideoModal,
  },
  nuxtI18n: false,
  async asyncData({ $content, error }: any) {
    try {
      const doc = await $content('services').fetch();
      return { doc };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  data() {
    return {
      showModal: false,
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
  methods: {
    openModal() {
      this.showModal = true;
    },
  },
});
</script>

<template>
  <section class="services">
    <SolutionsHero :data="doc.hero" />
    <SlpContainer>
      <SlpSideNavigation :data="doc.side_menu" class="services__navigation">
        <template #header>
          <div class="services__nav-buttons">
            <SlpButton
              v-for="(button, buttonIndex) in doc.side_menu.hyperlinks.data"
              :key="buttonIndex"
              :variant="button.variant"
              :href="button.href"
              :data-ga-name="button.data_ga_name"
              :data-ga-location="button.data_ga_location"
              @click.native="button.modal && openModal()"
              >{{ button.text }}
              <SlpIcon
                v-if="button.icon"
                class="slp-ml-8"
                :name="button.icon.name"
                :variant="button.icon.variant"
                alt="Icon"
              />
            </SlpButton>
          </div>
        </template>
        <SlpRow>
          <SlpColumn :cols="11">
            <SupportCopyMarkdownServices :data="doc.blog_copy" />
          </SlpColumn>
        </SlpRow>
      </SlpSideNavigation>
      <SlpSideButton
        data-ga-name="to-top"
        data-ga-location="body"
        class="services__to-top"
      />
    </SlpContainer>
    <SlpContainer variant="gradient" class="slp-pb-96">
      <ServicesForm :data="doc.form_block"></ServicesForm>
    </SlpContainer>
    <SolutionsVideoModal
      v-if="showModal"
      light-background
      :visible="showModal"
      @close="showModal = false"
    >
      <template #body>
        <iframe
          :src="doc.hero.modal_src"
          title="Video player"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </template>
    </SolutionsVideoModal>
  </section>
</template>

<style scoped lang="scss">
.services {
  &__nav-buttons {
    width: 100%;
    margin-bottom: $spacing-24;

    .slp-btn {
      width: 100%;
      justify-content: center;
      margin-bottom: $spacing-8;
    }

    .slp-btn-secondary {
      padding: 11px 0;
    }
  }

  &__to-top {
    display: none;

    @media (min-width: $breakpoint-md) {
      display: inherit;
    }
  }

  &__navigation {
    &:deep(.dropdown) {
      margin: $spacing-32 0;
    }
  }
}
</style>
