<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';
import HeaderLogo from './header-logo.vue';

interface HeroImage {
  src: string;
  alt?: string;
}

interface HeroButton {
  text: string;
  href: string;
  variant?: string;
  icon?: {
    name: string;
    variant: string;
    size?: string;
  };
}

export default Vue.extend({
  components: {
    HeaderLogo,
  },
  props: {
    note: {
      type: String,
      required: true,
    },
    header: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: false,
      default: '',
    },
    image: {
      type: Object as PropType<HeroImage>,
      required: true,
    },
    button: {
      type: Object as PropType<HeroButton>,
      required: false,
      default: null,
    },
  },
});
</script>

<template>
  <div id="hero-container">
    <SlpContainer>
      <div class="hero-wrapper">
        <transition name="fade" appear>
          <div class="hero-text">
            <SlpTypography variant="heading1-bold" tag="h1" class="note">{{
              note
            }}</SlpTypography>
            <SlpTypography variant="heading1-bold" tag="h1" class="slp-mb-24">{{
              header
            }}</SlpTypography>
            <SlpTypography variant="body2" tag="h2" class="slp-mb-24">{{
              description
            }}</SlpTypography>
            <SlpButton :href="button.href" :variant="button.variant"
              >{{ button.text }}
              <SlpIcon v-if="button.icon" v-bind="button.icon" class="slp-ml-8"
            /></SlpButton>
          </div>
        </transition>
        <div class="hero-image">
          <transition name="fade-left" appear>
            <HeaderLogo :src="image.src" :alt="image.alt" />
          </transition>
        </div>
      </div>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
#hero-container {
  margin: 160px 0 48px 0;
  @media (max-width: $breakpoint-lg) {
    margin-top: 64px;
  }
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    align-items: center;
  }
  @media (min-width: $breakpoint-lg) {
    gap: 16px;
  }

  .hero-text {
    color: white;
    padding-top: 32px;
    @media (min-width: $breakpoint-md) {
      padding-top: 0;
    }
    .note {
      background: linear-gradient(
        91.08deg,
        #f9a026 -9.03%,
        #a686f2 27.88%,
        #592ac8 65.98%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
</style>
