<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'GradientLineBlock',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="gradient-line-block">
    <div v-if="data.gradient_line" class="gradient-line slp-mb-16"></div>
    <SlpRow
      v-if="data.title"
      class="gradient-line-block__header-block slp-mb-32"
    >
      <div class="title-block">
        <SlpTypography tag="h2" variant="heading2-bold"
          >{{ data.title.text }}
        </SlpTypography>
        <a
          v-if="data.title.anchor"
          class="title-block__anchor"
          :href="`#${data.title.anchor}`"
        >
          <SlpIcon
            name="anchor"
            variant="marketing"
            size="sm"
            alt="section link"
            slp-color="text-link-100"
          />
        </a>
      </div>
      <SlpButton
        v-if="data.title.button"
        variant="tertiary"
        :href="data.title.button.url"
        :data-ga-name="data.title.button.data_ga_name"
        :data-ga-location="data.title.button.data_ga_location"
        >{{ data.title.button.text }}
        <SlpIcon
          class="slp-ml-8"
          name="chevron-lg-right"
          variant="product"
          alt="Chevron Right Icon"
          hex-color="#171321"
        />
      </SlpButton>
    </SlpRow>
    <SlpTypography
      v-if="data.subtitle"
      tag="h3"
      variant="heading3-bold slp-mb-32"
    >
      {{ data.subtitle }}
    </SlpTypography>
    <SlpRow>
      <div v-if="data.note" class="note" v-html="$md.render(data.note)"></div>
    </SlpRow>
    <slot></slot>
  </section>
</template>

<style lang="scss" scoped>
.gradient-line-block {
  margin: $spacing-96 0;

  .gradient-line {
    height: 4px;
    width: 96px;
    border-radius: 20px;
    background: rgb(255, 203, 215);
    background: linear-gradient(
      90deg,
      rgba(255, 203, 215, 1) 0%,
      rgba(241, 205, 234, 1) 51%,
      rgba(211, 191, 238, 1) 100%
    );
    @media (max-width: $breakpoint-lg) {
      margin-top: $spacing-64;
    }
  }

  &__header-block {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    .title-block {
      display: flex;
      justify-content: space-between;

      &__anchor {
        display: none;
        align-items: center;
      }
    }

    @media (max-width: 750px) {
      &:deep(.slp-btn) {
        margin-top: $spacing-24;
        padding: 0;
      }

      .title-block {
        width: 100%;

        &__anchor {
          display: flex;
        }
      }
    }
  }

  .note {
    background-color: $color-surface-800;
    border-radius: $border-radius-24;
    padding: $spacing-48;
    margin: $spacing-8 0 40px;
  }
}
</style>
