<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';
import { Breadcrumb } from '../../../interfaces';
import { SlpBreadcrumb } from '~/components/common/index.vue';

interface HeroImage {
  src: string;
  alt?: string;
}

interface HeroButton {
  text: string;
  href: string;
  variant?: string;
  icon?: {
    name: string;
    variant: string;
    size?: string;
  };
}

export default Vue.extend({
  components: {
    SlpBreadcrumb,
  },
  props: {
    header: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: false,
      default: '',
    },
    location: {
      type: String,
      required: true,
    },
    image: {
      type: Object as PropType<HeroImage>,
      required: true,
    },
    button: {
      type: Object as PropType<HeroButton>,
      required: false,
      default: null,
    },
    breadcrumbs: {
      type: Array as PropType<Breadcrumb[]>,
      required: true,
    },
  },
});
</script>

<template>
  <div id="hero-container">
    <SlpContainer>
      <div class="hero-wrapper">
        <div class="hero-text">
          <SlpBreadcrumb class="slp-mb-32 breadcrumbs" :crumbs="breadcrumbs" />
          <SlpTypography variant="heading1-bold" tag="h1" class="slp-mb-24">{{
            header
          }}</SlpTypography>
          <SlpTypography variant="heading4" tag="h2" class="slp-mb-24">{{
            subtitle
          }}</SlpTypography>
          <span class="location slp-mb-24"
            ><SlpIcon variant="product" name="location" size="sm" />
            <div
              variant="body1"
              class="address"
              v-html="$md.render(location)"
            ></div
          ></span>
          <SlpButton :href="button.href" :variant="button.variant"
            >{{ button.text }}
            <SlpIcon v-if="button.icon" v-bind="button.icon" class="slp-ml-8"
          /></SlpButton>
        </div>
        <div class="hero-image">
          <img :src="image.src" :alt="image.alt" />
        </div>
      </div>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
#hero-container {
  background: url('/nuxt-images/events/world-tour/city-hero-background.png');
  margin-bottom: 160px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  @media (min-width: $breakpoint-lg) {
    gap: 132px;
  }

  .hero-text {
    min-width: 20%;
    padding-bottom: 32px;
    .breadcrumbs:deep(span) {
      color: white;
    }
    .location {
      display: flex;
      flex-direction: row;
      gap: 8px;
      @media (min-width: $breakpoint-lg) {
        white-space: nowrap;
      }

      .address:deep(p) {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
      }
    }
    color: white;
    padding-top: 32px;
    @media (min-width: $breakpoint-md) {
      padding-top: 0;
    }
  }
  .hero-image {
    @media (min-width: $breakpoint-md) {
      align-self: flex-end;
    }
    img {
      margin-bottom: -7px;
      max-width: 450px;
      @media (max-width: $breakpoint-sm) {
        max-width: 300px;
      }

      @media (min-width: $breakpoint-lg) {
        max-width: unset;
      }
    }
    @media (min-width: $breakpoint-md) {
      margin: 0;
    }
  }
}
</style>
